@{
    ViewBag.Title = "Home Page";
}
@if (User.Identity.IsAuthenticated==false) { 
<div class="jumbotron">
    <h1>House case application</h1>
    <p class="lead">Create an account or sign in. It only takes a minute or two - then you're ready to use our services</p>
</div>
}
else
{
    <div class="jumbotron">
        <h1>Welcome!</h1>
        <p class="lead">You can start using our application</p>
    </div>
}
@*
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            <a href="http://localhost:6569/Issues"></a><br />
            <a href="http://localhost:6569/Locations"></a>
            
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@